[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true
verbosity = 3  # Display detailed logs

[profile.ci]
verbosity = 4  # Maximum logging

# For fuzzing tests
[fuzz]
runs = 1000
max_test_rejects = 65536
seed = "0x3e8"
dictionary_weight = 40
include_storage = true
include_push_bytes = true

# For invariant tests
[invariant]
runs = 256
depth = 15
fail_on_revert = false
call_override = false
dictionary_weight = 80
include_storage = true
include_push_bytes = true